$('#locked').hide();
if(<%= @save_flag %>){
  html = '<tr class="item_form_tr">'
          + '<td><%= @item.name %></td>'
          + '<td><%= @item.width %><br/><%= @item.height %></td>'
          + '<td><%= @item.number %></td>'
          + '<td><%= @item.price %></td>'
          + '<td><%= @item.punch_count %></td>'
          + '<td><%= @item.punch_price %></td>'
          + '<td><%= @item.dig_angle_count %></td>'
          + '<td><%= @item.dig_angle_price %></td>'
          + '<td><%= @item.amout %></td>'
          + '<td>'
          + '<div class="visible-md visible-lg hidden-sm hidden-xs">'
            + '<button class="btn btn-xs btn-blue tooltips" onclick="save_item(this, <%= @item_form_number.to_i %>);"><i class="fa fa-edit"></i></button>'
            + '<button class="btn btn-xs btn-red tooltips" onclick="delete_item(this, <%= @item_form_number.to_i %>);"><i class="fa fa-times fa fa-white"></i></button>'
          + '</div>'
          + '</td>'
          + '</tr>';
  $($('.item_form_tr')[<%= @item_form_number.to_i - 1 %>]).find('form').attr('id', 'item_form_<%= @item_form_number.to_i + 1 %>');
  $($('.item_form_tr')[<%= @item_form_number.to_i - 1 %>]).find('td').find('div').find('button').attr('onclick', 'save_item(this, <%= @item_form_number.to_i + 1 %>);');
  $($('.item_form_tr')[<%= @item_form_number.to_i - 1 %>]).before(html);
  // $('#item_item_form_number').val(<%= @item_form_number.to_i + 1 %>);
}else{
  alert('输入的数据有错，请确认！')
}
