$('#locked').hide();
<% if @item.id.present? %>
  html = '<tr class="item_form_tr">'
          + '<td><%= @item.name %></td>'
          + '<td><%= @item.width %><br/><%= @item.height %></td>'
          + '<td><%= @item.number %></td>'
          + '<td><%= @item.price %></td>'
          + '<td><%= @item.punch_count %></td>'
          + '<td><%= @item.punch_price %></td>'
          + '<td><%= @item.dig_angle_count %></td>'
          + '<td><%= @item.dig_angle_price %></td>'
          + '<td><%= @item.amout %></td>'
          + '<td>'
          + '<div class="visible-md visible-lg hidden-sm hidden-xs">'
            + '<button class="btn btn-xs btn-blue tooltips" onclick="save_item(this, <%= @item.id %>);"><i class="fa fa-edit"></i></button>'
            + '<button class="btn btn-xs btn-red tooltips" onclick="delete_item(this, <%= @item.id %>);"><i class="fa fa-times fa fa-white"></i></button>'
          + '</div>'
          + '</td>'
          + '</tr>';
  $('.item_form_tr').last().before(html);
<% else %>
  alert('输入的数据有错，请确认！')
<% end %>
